/* HighSchoolForm.css */
.highSchoolForm {
  width: 90%; /* 폼 너비 조정 */
  margin: 20px auto; /* 수평 가운데 정렬 */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.highSchoolForm table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 14px;
}

.highSchoolForm th, .highSchoolForm td {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: left;
}

.highSchoolForm th {
  width: 19%;
  padding: 8px; /* 패딩 축소 */
  border: 1px solid #ccc;
  text-align: left;
}

.highSchoolForm input[type="text"], 
.highSchoolForm select {
  width: 100%;
  height: 25px; /* 높이 줄이기 */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px; /* 글꼴 크기 줄이기 */
  box-sizing: border-box;
  margin: 3px 0; /* 여백 줄이기 */
}

.date-picker {
  width: 100%;
  height: 25px; /* 높이 줄이기 */
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.highSchoolForm input:focus, 
.highSchoolForm select:focus, 
.highSchoolForm .react-datepicker-wrapper input:focus {
  border-color: #007bff;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5); /* 그림자 줄이기 */
  outline: none;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker__input-container {
  width: 100%;
}
